<section ng-controller="endGameController as contact" class="end-game">
​
	<div class="content-wrapper">
		<h1>Proficiat! Je bent klaar.</h2>
		<h2>Benieuwd naar je score? Vul hier je e-mail in en ontvang je rapport.</h2>
		  <form name="contactForm" id="contactForm" ng-submit="contactForm.$valid && sendTheMail()" novalidate>
		    <input class="input fname" placeholder="Voornaam" type="text" id="firstName" required>
		    <input class="input lname" placeholder="Achternaam"  type="text" id="lastName" required><br>
		    <input class="input mmail" type="email" placeholder="Email adres" id="userEmail" required>
		    </textarea>
				<h3>De Nieuwsbrief van Mechelen Klimaatneutraal</h3>
				<p>De stad Mechelen neem
				verschillende initiatieven om Mechelen Klimaatneutraal te maken:
				gratis planadvies, samenaankopen, gratis info-avonden rond duurzaam
				(ver)bouwen,... en stuurt op geregelde tijdstippen een digitale
				nieuwsbrief uit. Indien je wenst, kan je steeds opgenomen worden in de
				mailinglijst.
				</p>
				<p>Wens je de nieuwsbrief van Mechelen Klimaatneutraal te ontvangen?</p>
					<input class="nieuwsbrief" type="checkbox" name="nieuwsbrief" value="Ja"><p>Ja</p>
		    <input type="submit" value="Submit" id="SubmitBtn" class="btn btn-success">
		  </form>
	</div>
​
</section>