<div class="mission">
	<div class="modal-body">
		<h2 ng-hide="option">{{mission.title}}</h2>
	
		<!-- OVERVIEW -->
		<ul class="options clearfix clickable" ng-hide="option">
			<li class="col-md-3" ng-repeat="policy in policies" ng-click="selectOption(policy)">
				<img src="{{policy.image}}" alt="{{policy.title}}" title="{{policy.title}}">
				<h4>{{policy.title}}</h4>
			</li>
		</ul>
		
		<!-- DETAIL -->
		<div class="option" ng-show="option">
			<h2>{{option.title}}</h2>
			<p>
				{{option.description}}
			</p>
			<hr>
			<ul class="row">
				<li class="col-md-4">
					<h5>Budget:</h5>
					<ul>
						<li ng-repeat="n in [] | range:option.results.year1.money">
							<img src="img/ui/money.svg" alt="" ng-if="option.results.year1.money > 0">
							<img src="img/ui/money-negative.svg" alt="" ng-if="option.results.year1.money < 0">
						</li>
					</ul>
				</li>
				<li class="col-md-4">
					<h5>Tevredenheid:</h5>
					<ul>
						<li ng-repeat="n in [] | range:option.results.year1.public">
						  	<img class="icon" src="img/ui/public.svg" alt="" ng-if="option.results.year1.public > 0">
						  	<img class="icon" src="img/ui/public-negative.svg" alt="" ng-if="option.results.year1.public < 0">
						</li>
					</ul>
				</li>
				<li class="col-md-4">
					<h5>Milieu: </h5>
					<ul>
						<li ng-repeat="n in [] | range:option.results.year1.eco">
						  	<img class="icon" src="img/ui/leaf.svg" alt="" ng-if="option.results.year1.eco > 0">
						  	<img class="icon" src="img/ui/leaf-negative.svg" alt="" ng-if="option.results.year1.eco < 0">
						</li>
					</ul>
				</li>
			</ul>
			<hr/>
			<div class="action-wrapper">
				<button ng-click="publishOption(option)" class="btn btn-success">Publiceer</button>
				<button ng-click="deSelectOption()" class="btn">Annuleer</button>
			</div>
		</div>
	</div>
</div>

