<div class="mission">
	<div class="modal-body">
		<h2 ng-hide="option">{{mission.title}}</h2>
	
		<!-- OVERVIEW -->
		<ul class="options clearfix clickable" ng-hide="option">
			<h2 class="col-sm-12 text-capitalize">{{policies.category}}</h2>
			<li class="col-sm-4" ng-repeat="(key, policy) in policies" ng-click="selectOption(policy)" ng-class="{disabled: policy.disabled == true}"> 
				<div class="infoAfter">
					<img class="img-responsive" ng-src="img/icons/{{policy.image}}" alt="{{policy.title}}" title="{{policy.title}}">
				</div>
				<h4 class="text-center">{{policy.title}}</h4>
				<result-directive policy="policy"></result-directive>
				<button ng-click="publishOption(policy)" class="btn btn-success center-block" ng-if="policy.disabled != true">Kies</button>
				<p class="text-center text-muted" ng-if="policy.disabled == true">Dit beleid heb je al doorgevoerd!</p>
			</li>
		</ul>
		
		<!-- DETAIL -->
		<div class="option" ng-show="option">
			<h2>{{option.title}}</h2>
			<p>
				{{option.description}}
			</p>
			<hr>
			<result-directive policy="option"></result-directive>
			<hr/>
			<div class="info-container">
				<p ng-repeat="(key, hint) in option.hints">{{hint}}</p>
			</div>
			<div class="action-wrapper">
				<button ng-click="publishOption(option)" class="btn btn-success" ng-if="option.disabled != true">Kies</button>
				<button ng-click="deSelectOption()" class="btn">Terug</button>
			</div>
		</div>
	</div>
</div>

