<div class="mission">
	<div class="modal-body">
		<h2 ng-hide="option">{{mission.title}}</h2>
	
		<!-- OVERVIEW -->
		<ul class="options clearfix clickable" ng-hide="option">
			<li class="col-sm-4" ng-repeat="(key, policy) in policies" ng-click="selectOption(policy)" ng-class="{disabled: policy.disabled == true}">
				<img ng-src="img/icons/{{policy.image}}" alt="{{policy.title}}" title="{{policy.title}}">
				<span ng-if="policy.disabled">Deze optie heb je al gekozen</span>
				<h4 class="text-center">{{policy.title}}</h4>
			</li>
		</ul>
		
		<!-- DETAIL -->
		<div class="option" ng-show="option">
			<h2>{{option.title}}</h2>
			<p>
				{{option.description}}
			</p>
			<hr>
			<result-directive policy="option"></result-directive>
			<hr/>
			<div class="action-wrapper">
				<button ng-click="publishOption(option)" class="btn btn-success" ng-if="option.disabled != true">Publiceer</button>
				<button ng-click="deSelectOption()" class="btn">Annuleer</button>
			</div>
		</div>
	</div>
</div>

