<div class="modal-body year-report">
    <h1>Rapport jaar {{year}}</h1>
    <hr>
	<h4>Je hebt volgende maatregelen genomen:</h4>
    <ul class="report-policies">
    	<li class="policy clearfix" ng-repeat="policy in activePolicies">
            <div class="image-wrapper col-sm-2">
                <img ng-src="img/icons/{{policy.image}}" alt="{{policy.title}}" title="{{policy.title}}">
            </div>
            <div class="info col-sm-10">
                <div class="name">
                    {{policy.title}}
                </div>
                <result-directive policy="policy"></result-directive>
            </div>
        </li>
    </ul>

    <button class="btn btn-success" ng-click="goToNextYear()">Volgende</button>
</div>
