<div class="modal-body tutorial-modal clearfix" id="modal_1">

	<h2 class="text-center">Budget</h2>

	<div class="col-sm-12">
		<div class="col-sm-3">
			<img src="img/ui/money.svg" class="img-responsive">
		</div>
		<div class="col-sm-9">
			<p>
				De meeste acties om de stad klimaatneutraal te maken kosten geld. Hier zie je het beschikbare budget. Probeer met het beschikbare geld zo veel mogelijk CO2-uitstoot te verminderen.
			</p>
		</div>
	</div>
	
	
	<div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="next()" class="btn btn-primary">Volgende</button>
	</div>
	
</div>