<div class="modal-body tutorial-modal clearfix" id="modal_3">

	<h2 class="text-center">Menu</h2>

	<div class="col-sm-12">
		<p>
			In dit menu kan je opnieuw start met de knop ‘<b>Begin opnieuw</b>’. Je kan kiezen om je beleid vervroegd stop te zetten met de knop ‘<b>Einde</b>’. Je ontvangt dan onmiddellijk je rapport. Via ‘<b>Stop</b>’ keer je terug naar het hoofdscherm.
		</p>
	</div>
	
    <div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="next()" class="btn btn-primary">Volgende</button>
	</div>
</div>