<div class="modal-body tutorial-modal clearfix" id="modal_3">

	<h2 class="text-center">Menu</h2>

	<div class="col-sm-12">
		<p>
			Dit is het menu waarbij je kan kiezen om je 3-jarig beleid opnieuw te starten aan de hand van “<b>Herstart</b>”, jouw beleid vervroegd stop te zetten met “<b>Einde</b>” en onmiddelijk je rapport te ontvangen en terug te keren naar het hoofdscherm met “<b>Stop</b>”.
		</p>
	</div>
	
    <div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="next()" class="btn btn-primary">Volgende</button>
	</div>
</div>