<div class="modal-body menu clearfix" id="modal_1">

	<h2 class="text-center">Budget</h2>

	<div class="col-sm-3">
		<img src="img/ui/money.svg" class="img-responsive">
	</div>

	<div class="col-sm-9">
		<p>
			Hier zie je het budget voor het aanstaande jaar, dit is de eerste van drie factoren die impact hebben op de stad. Bij de meeste <b>beleidskeuzes</b>, die we later bespreken, hangt een prijskaartje aanvast.
		</p>
		<p>
			<b>Budget</b> is het moeilijkste om opnieuw aan te vullen dus wees voorzichtig met hoe je het besteed.
		</p>
	</div>
	
	<div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="next()" class="btn btn-primary">Volgende</button>
	</div>
	
</div>