<div class="modal-body tutorial-modal clearfix" id="modal_2">

	<h2 class="text-center">Tevredenheid & Milieu</h2>

	<div class="col-sm-12">
		<div class="col-sm-3">
			<img src="img/ui/leaf.svg" class="img-responsive">
		</div>
		<div class="col-sm-9">
			<p>
				Het belangrijkste voor een klimaatneutrale stad is dat de CO2 uitstoot daalt. Hier zie je hoeveel elke  maatregel bijdraagt tot deze daling.Milieu is de belangrijkste factor. Deze factor geeft aan hoe milieuvriendelijk jouw beleid is en heeft een grote impact op je eindresultaat.
			</p>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-3">
			<img src="img/ui/public.svg" class="img-responsive">
		</div>
		<div class="col-sm-9">
			<p>
				 Zorg ervoor dat iedereen graag in de klimaatneutrale stad leeft en ze met plezier ontdekt.  Daardoor stijgt de tevredenheid van de inwoners en bezoekers van Mechelen.
			</p>
		</div>
	</div>

    <div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="next()" class="btn btn-primary">Volgende</button>
	</div>
</div>
