<div class="modal-body tutorial-modal  clearfix" id="modal_5">

	<h2 class="text-center">Beleidskeuzes</h2>

	<div class="col-sm-12">
		<p>
			Nadat je tapt op een uitroepteken verschijnt er een scherm met daarop drie willekeurige beleidskeuzes. Selecteer er één van en klik daarna op ‘<b>Selecteer Beleid</b>’ om te bevestigen.
		</p>
	</div>
	
    <div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="choose()" class="btn btn-success">Kies</button>
	</div>
</div>