<div class="modal-body tutorial-modal clearfix" id="modal_2">

	<h2 class="text-center">Tevredenheid & Milieu</h2>	

	<div class="col-sm-12">
		<div class="col-sm-3">
			<img src="img/ui/leaf.svg" class="img-responsive">
		</div>
		<div class="col-sm-9">
			<p>
				Het belangrijkste voor een klimaatneutrale stad is dat de CO<sub>2</sub> uitstoot daallt. Hier zie je hoeveel elke  maatregel bijdraagt tot deze daling.
			</p>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-3">
			<img src="img/ui/public.svg" class="img-responsive">
		</div>
		<div class="col-sm-9">
			<p>
				 Je moet de inwoners van Mechelen tevreden houden. Zorg dat iedereen graag in de klimaatneutrale stad leeft.
			</p>
		</div>
	</div>
	
    <div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="next()" class="btn btn-primary">Volgende</button>
	</div>
</div>