<div class="modal-body menu clearfix" id="modal_2">

	<h2 class="text-center">Tevredenheid & Milieu</h2>	

	<div class="col-sm-12">
		<div class="col-sm-3">
			<img src="img/ui/leaf.svg" class="img-responsive">
		</div>
		<div class="col-sm-9">
			<p>
				<b>Tevredenheid</b> is de tweede factor die impact heeft op je beleid. Een tevreden bevolking is natuurlijk belangrijk voor een vreedzame samenleving dus zorg ervoor dat je dit behoud.
			</p>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-3">
			<img src="img/ui/public.svg" class="img-responsive">
		</div>
		<div class="col-sm-9">
			<p>
				<b>Milieu</b> is de belangrijkste factor en geeft aan hoe milieuvriendelijk jouw beleid is en zal een grote impact hebben op je eindresultaat.
			</p>
		</div>
	</div>
	
    <div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="next()" class="btn btn-primary">Volgende</button>
	</div>
</div>