<div class="modal-body tutorial-modal clearfix" id="modal_1">

	<h2 class="text-center">Budget</h2>

	<div class="col-sm-12">
		<div class="col-sm-3">
			<img src="img/ui/money.svg" class="img-responsive">
		</div>
		<div class="col-sm-9">
			<p>
				Hier zie je het budget van de stad. Dit is de eerste van drie factoren die impact hebben op je klimaatneutrale stad. De meeste acties die je doet kosten geld. Probeer zo weinig mogelijk uit te geven!
			</p>
		</div>
	</div>
	
	
	<div class="pull-right">
		<button ng-click="previous()" class="btn btn-link">Vorige</button>
    	<button ng-click="next()" class="btn btn-primary">Volgende</button>
	</div>
	
</div>