.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import "components/_main.scss"; 
@import "components/_header.scss"; 
@import "components/_game.scss"; 
@import "components/_animations.scss"; 
@import "components/_modals.scss"; 