@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$col1: #79B63E;
$text-black: #333;

@import "components/_main.scss"; 
@import "components/_header.scss"; 
@import "components/_game.scss"; 
@import "components/_startScreen.scss"; 
@import "components/_endScreen.scss"; 
@import "components/_animations.scss"; 
@import "components/_modals.scss"; 
@import "components/_character.scss"; 