@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);
 
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.a{
	&Third{
		float:left;
		box-sizing: border-box;
		min-width: 33%;
		width: 33%;
		max-width: 33%;
	}
}

@mixin arrow-top(){
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom: 30px solid white;
}

@mixin arrow-bottom(){
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 30px solid white;
}

@mixin arrow-top-left() {
	&::after{
		content: " ";

		top: -28px;
		left: 29px;
		position: absolute;

		@include arrow-top();
	}
}

@mixin arrow-top-right() {
	&::after{
		content: " ";

		top: -28px;
		right: 29px;
		position: absolute;

		@include arrow-top();
	}
}

@mixin arrow-top-center() {
	&::after{
		content: " ";

		top: -28px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;

		@include arrow-top();
	}
}

@mixin arrow-bottom-right() {
	&::after{
		content: " ";

		bottom: -28px;
		right: 29px;
		position: absolute;

		@include arrow-bottom();
	}
}

$col1: #79B63E;
$text-black: #333;

@import "components/_main.scss"; 
@import "components/_header.scss"; 
@import "components/_game.scss"; 
@import "components/_startScreen.scss"; 
@import "components/_endScreen.scss";
@import "components/_tutorial.scss"; 
@import "components/_animations.scss"; 
@import "components/_modals.scss"; 
@import "components/_character.scss";