@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 4, stdin */
.clearfix:after, .game-header .money ul:after, .game-header .score .score-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, D:/School/designosource/klimaatneutraal/source/scss/components/_main.scss */
html {
  font-size: 62.5%;
}

/* line 5, D:/School/designosource/klimaatneutraal/source/scss/components/_main.scss */
body {
  background-color: #767676;
  color: #FFF;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 12, D:/School/designosource/klimaatneutraal/source/scss/components/_main.scss */
.ratio-wrapper {
  width: 100vw;
  height: 56.25vw;
  /* height:width ratio = 9/16 = .5625  */
  background-color: white;
  max-height: 100vh;
  max-width: 177.78vh;
  /* 16/9 = 1.778 */
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  /* vertical center */
  left: 0;
  right: 0;
  /* horizontal center */
  box-shadow: 0px 0px 83px 3px rgba(0, 0, 0, 0.48);
  background-image: url("../img/ui/bg_canvas_default.svg");
}

/* line 29, D:/School/designosource/klimaatneutraal/source/scss/components/_main.scss */
.ratio-wrapper .content {
  height: 83%;
}

/* line 34, D:/School/designosource/klimaatneutraal/source/scss/components/_main.scss */
.clickable {
  cursor: pointer;
}

/* line 1, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header {
  height: 17%;
}

/* line 4, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money {
  background-color: #767676;
  height: 100%;
}

/* line 8, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul {
  margin: 0;
  padding: 14% 5%;
  box-sizing: border-box;
  height: 100%;
}

/* line 14, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul li {
  box-sizing: border-box;
  padding: 0 6% 0 0;
  display: block;
  width: 20%;
  float: left;
}

/* line 21, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul li img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* line 31, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score {
  background-color: #e5e5e4;
  height: 100%;
  padding-top: 1%;
}

/* line 37, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .icon-wrapper {
  width: 7%;
  float: left;
}

/* line 40, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .icon-wrapper .icon {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

/* line 47, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-bar {
  height: 20px;
  background-color: #6dab5b;
  width: 93%;
  float: left;
}

/* line 53, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-bar .score-inner {
  width: 60%;
  height: 100%;
  background-color: #03573b;
  transition: width 1s ease-out;
}

/* line 63, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-eco .score-bar {
  margin-top: 6px;
}

/* line 68, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-wrapper {
  padding: 5px;
}

/* line 74, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .menu-wrapper {
  height: 100%;
  background-color: #bbbdc0;
  padding: 2.5%;
}

/* line 79, D:/School/designosource/klimaatneutraal/source/scss/components/_header.scss */
.game-header .menu-wrapper .menu {
  display: block;
  height: 100%;
  background-image: url("../img/ui/menu_btn.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* line 1, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

/* line 9, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year .wind-turbine-bottom {
  position: absolute;
  display: block;
  top: 6%;
  right: 9%;
}

/* line 16, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year .wind-turbine-top {
  position: absolute;
  display: block;
  -webkit-animation: wiek 10s linear infinite;
  animation: wiek 10s linear infinite;
}

/* line 24, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year .huis_rechts {
  position: absolute;
  display: block;
  width: 30%;
  right: 1%;
  top: 31%;
}

/* line 29, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year .huis_links_wb {
  display: block;
  position: absolute;
  top: 38%;
  width: 25%;
}

/* line 36, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year .wiek_l {
  position: absolute;
  display: block;
  width: 8%;
  left: 58%;
  top: 20.2%;
  -webkit-animation: wiek_l 10s linear infinite;
  animation: wiek_l 10s linear infinite;
}

/* line 46, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 {
  background-image: url("../img/jaar1_1/bg_jaar1_1.svg");
}

/* line 49, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .house2 {
  position: absolute;
  display: block;
  width: 24%;
  right: 1%;
  top: 25%;
}

/* line 56, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .huis_links_wb {
  display: block;
  position: absolute;
  top: 38%;
  width: 25%;
}

/* line 63, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .buskotje {
  position: absolute;
  display: block;
  width: 12%;
  top: 55%;
  left: 40%;
}

/* line 71, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .buskotje:before {
  position: absolute;
  display: block;
  width: 12%;
  top: 55%;
  left: 40%;
}

/* line 79, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .interact:hover, .year.year1 .molenpaal:hover {
  opacity: 0.8;
}

/* line 83, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .skater {
  display: block;
  position: absolute;
  height: 30%;
  z-index: 2;
  left: 5%;
  right: 90%;
  top: 66%;
  -webkit-animation: skater_moves 2s infinite;
  animation: skater_moves 2s infinite;
}

/* line 97, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .benen {
  position: absolute;
  display: block;
  width: 7%;
  left: 41%;
  top: 72%;
}

/* line 104, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .molenpaal {
  position: absolute;
  display: block;
  width: 10%;
  left: 50%;
  top: 30%;
}

/* line 109, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .molenpaal_l {
  z-index: 1;
  position: absolute;
  display: block;
  width: 8%;
  left: 57.3%;
  top: 30%;
}

/* line 115, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .wiek {
  position: absolute;
  display: block;
  width: 10%;
  left: 50.8%;
  top: 20.2%;
  -webkit-animation: wiek 10s linear infinite;
  animation: wiek 10s linear infinite;
}

/* line 124, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .interact:hover, .year.year1 .molenpaal:hover {
  opacity: 0.8;
}

/* line 131, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 {
  background-image: url("../img/year2/bg.svg");
}

/* line 134, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .biker {
  display: block;
  position: absolute;
  height: 20%;
  z-index: 2;
  left: 5%;
  right: 90%;
  top: 75%;
}

/* line 144, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .house1 {
  display: block;
  position: absolute;
  top: 38%;
  width: 25%;
}

/* line 151, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .house2 {
  position: absolute;
  display: block;
  width: 40%;
  right: 27%;
  top: 31%;
}

/* line 159, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .cars {
  position: absolute;
  display: block;
  width: 16%;
  right: 7%;
  top: 61%;
}

/* line 167, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .wind-turbine {
  position: absolute;
  display: block;
  width: 7%;
  right: 13%;
  top: 30%;
  height: 100%;
}

/* line 177, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 {
  background-image: url("../img/year3/bg.svg");
}

/* line 180, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 .biker {
  display: block;
  position: absolute;
  height: 20%;
  z-index: 2;
  right: 6%;
  top: 75%;
}

/* line 189, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 .house {
  display: block;
  position: absolute;
  top: 23%;
  width: 54%;
  right: 11%;
}

/* line 197, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 .light-saber {
  position: absolute;
  display: block;
  width: 98%;
  top: 61%;
  left: 2%;
}

/* line 206, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 {
  background-image: url("../img/year4/bg.svg");
}

/* line 209, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .bus {
  display: block;
  position: absolute;
  height: 20%;
  z-index: 2;
  left: -5%;
  top: 78%;
}

/* line 218, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .house {
  display: block;
  position: absolute;
  top: 40%;
  width: 48%;
  right: 48%;
}

/* line 226, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .light-saber {
  position: absolute;
  display: block;
  width: 98%;
  top: 61%;
  left: 2%;
}

/* line 234, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .wind-turbine-1 {
  position: absolute;
  display: block;
  width: 7%;
  right: 71%;
  top: 29%;
  height: 100%;
}

/* line 243, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .wind-turbine-2 {
  position: absolute;
  display: block;
  width: 7%;
  right: 63%;
  top: 33%;
  height: 100%;
}

/* line 252, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .wind-turbine-3 {
  position: absolute;
  display: block;
  width: 7%;
  right: 46%;
  top: 30%;
  height: 100%;
}

/* line 262, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 {
  background-image: url("../img/year5/bg.svg");
}

/* line 265, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .woman {
  display: block;
  position: absolute;
  height: 32%;
  z-index: 2;
  left: 9%;
  top: 60%;
  -webkit-animation: skater_moves 2s infinite;
  animation: skater_moves 2s infinite;
}

/* line 279, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .house {
  position: absolute;
  display: block;
  width: 38%;
  right: 19%;
  top: 30%;
}

/* line 287, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .light-saber1 {
  position: absolute;
  display: block;
  width: 6%;
  top: 49%;
  left: 5%;
}

/* line 295, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .light-saber2 {
  position: absolute;
  display: block;
  width: 10%;
  top: 61%;
  left: 22%;
}

/* line 303, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .light-saber3 {
  position: absolute;
  display: block;
  width: 10%;
  top: 61%;
  left: 76%;
}

/* line 311, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .light-saber4 {
  position: absolute;
  display: block;
  width: 6%;
  top: 49%;
  left: 85%;
}

/* line 319, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .wind-turbine-1 {
  position: absolute;
  display: block;
  width: 7%;
  right: 71%;
  top: 29%;
  height: 100%;
}

/* line 328, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .wind-turbine-2 {
  position: absolute;
  display: block;
  width: 7%;
  right: 63%;
  top: 33%;
  height: 100%;
}

/* line 337, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .wind-turbine-3 {
  position: absolute;
  display: block;
  width: 7%;
  right: 46%;
  top: 30%;
  height: 100%;
}

/* line 346, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .busstop {
  position: absolute;
  display: block;
  width: 11%;
  top: 60%;
  right: 49%;
  width: 10%;
}

/* line 354, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .busstop .busstop-legs {
  position: absolute;
  display: block;
  width: 61%;
  top: 69%;
  right: 29%;
}

/* line 364, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 {
  background-image: url("../img/year6/bg_jaar3_2.svg");
}

/* line 367, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .huis_links {
  position: absolute;
  display: block;
  width: 18%;
  right: 30%;
  top: 26.6%;
}

/* line 375, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .huis_rechts {
  position: absolute;
  display: block;
  width: 18%;
  right: 4%;
  top: 21%;
}

/* line 383, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .car {
  position: absolute;
  display: block;
  width: 35%;
  right: 62%;
  top: 62%;
}

/* line 391, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .zon {
  position: absolute;
  display: block;
  width: 13%;
  right: 80%;
  top: 18%;
}

/* line 399, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .fietser {
  position: absolute;
  display: block;
  width: 14%;
  right: 11%;
  top: 63%;
}

/* line 407, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .fietser_2 {
  position: absolute;
  display: block;
  width: 14%;
  right: 5%;
  top: 70%;
}

/* line 415, D:/School/designosource/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .skater {
  display: block;
  position: absolute;
  height: 30%;
  z-index: 2;
  left: 5%;
  right: 90%;
  top: 66%;
  -webkit-animation: skater_moves 2s infinite;
  animation: skater_moves 2s infinite;
}

/* line 1, D:/School/designosource/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../img/start-game-bg.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 11, D:/School/designosource/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper {
  margin: 0 auto;
  margin-top: 20%;
  width: 50%;
  padding: 25px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.46);
  text-align: center;
}

/* line 21, D:/School/designosource/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper h1 {
  margin: 0 0 25px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 57px;
  font-size: 5.7rem;
}

/* line 28, D:/School/designosource/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper .btn {
  width: 25%;
}

@-webkit-keyframes skater_moves {
  0% {
    left: 5%;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 5%;
  }
  0% {
    -webkit-transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
  }
}

@-webkit-keyframes wiek {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes wiek_l {
  0% {
    -webkit-transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(380deg);
  }
}

@-webkit-keyframes skater_moves {
  0% {
    left: 5%;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 5%;
  }
  0% {
    -webkit-transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
  }
}

@-webkit-keyframes wiek {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes wiek_l {
  0% {
    -webkit-transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(380deg);
  }
}

/* line 1, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.modal-content {
  border-radius: 0;
}

/* line 4, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.modal-content .modal-body {
  padding: 25px;
}

/* line 9, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.menu {
  color: #000;
}

/* line 13, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission {
  color: #000;
}

/* line 16, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission h2 {
  margin: 0;
}

/* line 20, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission .options {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}

/* line 25, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission .options li {
  padding-bottom: 15px;
}

/* line 31, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission .option ul {
  list-style-type: none;
  padding: 0;
}

/* line 35, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission .option ul li {
  text-align: center;
}

/* line 38, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission .option ul li ul li {
  display: inline-block;
  padding: 0 5px;
  line-height: 35px;
}

/* line 43, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission .option ul li ul li img {
  height: 35px;
}

/* line 51, D:/School/designosource/klimaatneutraal/source/scss/components/_modals.scss */
.mission .option .action-wrapper {
  text-align: center;
}
