/* line 2, stdin */
.clearfix:after, .game-header .money ul:after, .game-header .score .score-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_main.scss */
body {
  background-color: #767676;
  color: #FFF;
}

/* line 6, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_main.scss */
.ratio-wrapper {
  width: 100vw;
  height: 56.25vw;
  /* height:width ratio = 9/16 = .5625  */
  background-color: white;
  max-height: 100vh;
  max-width: 177.78vh;
  /* 16/9 = 1.778 */
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  /* vertical center */
  left: 0;
  right: 0;
  /* horizontal center */
  box-shadow: 0px 0px 83px 3px rgba(0, 0, 0, 0.48);
  background-image: url("../img/ui/bg_canvas_default.svg");
}

/* line 23, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_main.scss */
.ratio-wrapper .content {
  height: 83%;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header {
  height: 17%;
}

/* line 4, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money {
  background-color: #767676;
  height: 100%;
}

/* line 8, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul {
  margin: 0;
  padding: 14% 5%;
  box-sizing: border-box;
  height: 100%;
}

/* line 14, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul li {
  box-sizing: border-box;
  padding: 0 6% 0 0;
  display: block;
  width: 20%;
  float: left;
}

/* line 21, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul li img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* line 31, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score {
  background-color: #e5e5e4;
  height: 100%;
  padding-top: 1%;
}

/* line 37, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .icon-wrapper {
  width: 7%;
  float: left;
}

/* line 40, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .icon-wrapper .icon {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

/* line 47, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-bar {
  height: 20px;
  background-color: #6dab5b;
  width: 93%;
  float: left;
}

/* line 53, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-bar .score-inner {
  width: 60%;
  height: 100%;
  background-color: #03573b;
  transition: width 1s ease-out;
}

/* line 63, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-eco .score-bar {
  margin-top: 6px;
}

/* line 68, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-wrapper {
  padding: 5px;
}

/* line 74, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .menu-wrapper {
  height: 100%;
  background-color: #bbbdc0;
  padding: 2.5%;
}

/* line 79, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .menu-wrapper .menu {
  display: block;
  height: 100%;
  background-image: url("../img/ui/menu_btn.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* line 8, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 {
  background-image: url("../img/jaar1_1/bg_jaar1_1.svg");
}

/* line 5, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
.interact:hover, #molenpaal:hover {
  opacity: 0.8;
}

/* line 9, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#skater {
  display: block;
  position: absolute;
  height: 30%;
  z-index: 2;
  left: 5%;
  right: 90%;
  top: 66%;
  -webkit-animation: skater_moves 2s infinite;
  animation: skater_moves 2s infinite;
}

@-webkit-keyframes skater_moves {
  0% {
    left: 5%;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 5%;
  }
  0% {
    -webkit-transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
  }
}

/* line 33, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#benen {
  position: absolute;
  display: block;
  width: 7%;
  left: 41%;
  top: 72%;
}

/* line 40, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#molenpaal {
  position: absolute;
  display: block;
  width: 10%;
  left: 50%;
  top: 30%;
}

/* line 45, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#molenpaal_l {
  z-index: 1;
  position: absolute;
  display: block;
  width: 8%;
  left: 57.3%;
  top: 30%;
}

/* line 51, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#wiek {
  position: absolute;
  display: block;
  width: 10%;
  left: 50.8%;
  top: 20.2%;
  -webkit-animation: wiek 10s linear infinite;
  animation: wiek 10s linear infinite;
}

@-webkit-keyframes wiek {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* line 65, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#wiek_l {
  position: absolute;
  display: block;
  width: 8%;
  left: 58%;
  top: 20.2%;
  -webkit-animation: wiek_l 10s linear infinite;
  animation: wiek_l 10s linear infinite;
}

@-webkit-keyframes wiek_l {
  0% {
    -webkit-transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(380deg);
  }
}

/* line 79, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#huis_rechts {
  position: absolute;
  display: block;
  width: 30%;
  right: 1%;
  top: 31%;
}

/* line 84, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#huis_links_wb {
  display: block;
  position: absolute;
  top: 38%;
  width: 25%;
}

/* line 90, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#buskotje {
  position: absolute;
  display: block;
  width: 12%;
  top: 55%;
  left: 40%;
}

/* line 97, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_animations.scss */
#buskotje:before {
  position: absolute;
  display: block;
  width: 12%;
  top: 55%;
  left: 40%;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.menu {
  color: #000;
}
