@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* line 5, stdin */
.clearfix:after, .game-header .money ul:after, .game-header .score .score-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, stdin */
.aThird {
  float: left;
  box-sizing: border-box;
  min-width: 33%;
  width: 33%;
  max-width: 33%;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_main.scss */
html {
  font-size: 62.5%;
}

/* line 5, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_main.scss */
body {
  background-color: #767676;
  color: #FFF;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 12, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_main.scss */
.ratio-wrapper {
  width: 100vw;
  height: 56.25vw;
  /* height:width ratio = 9/16 = .5625  */
  background-color: white;
  max-height: 100vh;
  max-width: 177.78vh;
  /* 16/9 = 1.778 */
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  /* vertical center */
  left: 0;
  right: 0;
  /* horizontal center */
  box-shadow: 0px 0px 83px 3px rgba(0, 0, 0, 0.48);
  background-image: url("../img/ui/bg_canvas_default.svg");
}

/* line 29, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_main.scss */
.ratio-wrapper .content {
  height: 83%;
}

/* line 34, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_main.scss */
.clickable {
  cursor: pointer;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header {
  height: 17%;
}

/* line 4, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money {
  background-color: #767676;
  height: 100%;
}

/* line 8, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul {
  margin: 0;
  padding: 14% 5%;
  box-sizing: border-box;
  height: 100%;
}

/* line 14, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul li {
  box-sizing: border-box;
  padding: 0 6% 0 0;
  display: block;
  width: 20%;
  float: left;
}

/* line 21, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .money ul li img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* line 31, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score {
  background-color: #e5e5e4;
  height: 100%;
  padding-top: 1%;
}

/* line 37, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .icon-wrapper {
  width: 7%;
  float: left;
}

/* line 40, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .icon-wrapper .icon {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

/* line 47, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-bar {
  height: 20px;
  background-color: #6dab5b;
  width: 93%;
  float: left;
}

/* line 53, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-bar .score-inner {
  width: 60%;
  height: 100%;
  background-color: #03573b;
  transition: width 1s ease-out;
}

/* line 63, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-eco .score-bar {
  margin-top: 6px;
}

/* line 68, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .score .score-wrapper {
  padding: 5px;
}

/* line 74, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .menu-wrapper {
  height: 100%;
  background-color: #bbbdc0;
  padding: 2.5%;
}

/* line 79, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_header.scss */
.game-header .menu-wrapper .menu {
  display: block;
  height: 100%;
  background-image: url("../img/ui/menu_btn.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.active-policies {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

/* line 11, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.active-policies li {
  margin-left: 25px;
  float: left;
  width: 100px;
  height: 100px;
}

/* line 17, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.active-policies li.next {
  line-height: 100px;
  font-size: 40px;
  text-align: center;
}

/* line 23, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.active-policies li.policy {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* line 28, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.active-policies li.policy img {
  max-width: 100%;
}

/* line 35, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

/* line 43, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year .wind-turbine-bottom {
  position: absolute;
  display: block;
  top: 6%;
  right: 9%;
}

/* line 50, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year .wind-turbine-top {
  position: absolute;
  display: block;
  -webkit-animation: wiek 10s linear infinite;
  animation: wiek 10s linear infinite;
}

/* line 58, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year .huis_rechts {
  position: absolute;
  display: block;
  width: 30%;
  right: 1%;
  top: 31%;
}

/* line 63, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year .huis_links_wb {
  display: block;
  position: absolute;
  top: 38%;
  width: 25%;
}

/* line 70, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year .wiek_l {
  position: absolute;
  display: block;
  width: 8%;
  left: 58%;
  top: 20.2%;
  -webkit-animation: wiek_l 10s linear infinite;
  animation: wiek_l 10s linear infinite;
}

/* line 80, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 {
  background-image: url("../img/jaar1_1/bg_jaar1_1.svg");
}

/* line 83, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .house2 {
  position: absolute;
  display: block;
  width: 24%;
  right: 1%;
  top: 25%;
}

/* line 90, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .huis_links_wb {
  display: block;
  position: absolute;
  top: 38%;
  width: 25%;
}

/* line 97, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .buskotje {
  position: absolute;
  display: block;
  width: 12%;
  top: 55%;
  left: 40%;
}

/* line 105, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .buskotje:before {
  position: absolute;
  display: block;
  width: 12%;
  top: 55%;
  left: 40%;
}

/* line 113, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .interact:hover, .year.year1 .molenpaal:hover {
  opacity: 0.8;
}

/* line 117, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .skater {
  display: block;
  position: absolute;
  height: 30%;
  z-index: 2;
  left: 5%;
  right: 90%;
  top: 66%;
  -webkit-animation: skater_moves 2s infinite;
  animation: skater_moves 2s infinite;
}

/* line 131, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .benen {
  position: absolute;
  display: block;
  width: 7%;
  left: 41%;
  top: 72%;
}

/* line 138, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .molenpaal {
  position: absolute;
  display: block;
  width: 10%;
  left: 50%;
  top: 30%;
}

/* line 143, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .molenpaal_l {
  z-index: 1;
  position: absolute;
  display: block;
  width: 8%;
  left: 57.3%;
  top: 30%;
}

/* line 149, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .wiek {
  position: absolute;
  display: block;
  width: 10%;
  left: 50.8%;
  top: 20.2%;
  -webkit-animation: wiek 10s linear infinite;
  animation: wiek 10s linear infinite;
}

/* line 158, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year1 .interact:hover, .year.year1 .molenpaal:hover {
  opacity: 0.8;
}

/* line 165, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 {
  background-image: url("../img/year2/bg.svg");
}

/* line 168, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .biker {
  display: block;
  position: absolute;
  height: 20%;
  z-index: 2;
  left: 5%;
  right: 90%;
  top: 75%;
  -webkit-animation: biker_moves 5s infinite;
  animation: biker_moves 5s infinite;
}

/* line 182, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .house1 {
  display: block;
  position: absolute;
  top: 38%;
  width: 25%;
}

/* line 189, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .house2 {
  position: absolute;
  display: block;
  width: 40%;
  right: 27%;
  top: 31%;
}

/* line 197, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .cars {
  position: absolute;
  display: block;
  width: 16%;
  right: 7%;
  top: 61%;
}

/* line 205, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year2 .wind-turbine {
  position: absolute;
  display: block;
  width: 7%;
  right: 13%;
  top: 30%;
  height: 100%;
}

/* line 215, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 {
  background-image: url("../img/year3/bg.svg");
}

/* line 218, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 .biker {
  display: block;
  position: absolute;
  height: 20%;
  z-index: 2;
  right: -50%;
  top: 75%;
  -webkit-animation: biker_moves_right 15s infinite;
  animation: biker_moves_right 15s infinite;
}

/* line 231, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 .house {
  display: block;
  position: absolute;
  top: 23%;
  width: 54%;
  right: 11%;
}

/* line 239, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 .doublecars {
  display: block;
  position: absolute;
  top: 68%;
  width: 16%;
  left: 11%;
}

/* line 247, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year3 .light-saber {
  position: absolute;
  display: block;
  width: 98%;
  top: 61%;
  left: 2%;
}

/* line 256, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 {
  background-image: url("../img/year4/bg.svg");
}

/* line 259, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .bus {
  display: block;
  position: absolute;
  height: 20%;
  z-index: 2;
  left: -5%;
  top: 78%;
  -webkit-animation: bus_moves 25s infinite;
  animation: bus_moves 25s infinite;
}

/* line 272, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .house {
  display: block;
  position: absolute;
  top: 40%;
  width: 48%;
  right: 48%;
  z-index: 10;
}

/* line 281, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .light-saber {
  position: absolute;
  display: block;
  width: 98%;
  top: 61%;
  left: 2%;
}

/* line 289, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .wind-turbine-1 {
  position: absolute;
  display: block;
  width: 7%;
  right: 71%;
  top: 29%;
  height: 100%;
}

/* line 298, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .wind-turbine-2 {
  position: absolute;
  display: block;
  width: 7%;
  right: 63%;
  top: 33%;
  height: 100%;
}

/* line 307, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year4 .wind-turbine-3 {
  position: absolute;
  display: block;
  width: 7%;
  right: 46%;
  top: 30%;
  height: 100%;
}

/* line 317, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 {
  background-image: url("../img/year5/bg.svg");
}

/* line 320, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .woman {
  display: block;
  position: absolute;
  height: 32%;
  z-index: 2;
  left: 9%;
  top: 60%;
  -webkit-animation: skater_moves 2s infinite;
  animation: skater_moves 2s infinite;
}

/* line 334, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .house {
  position: absolute;
  display: block;
  width: 38%;
  right: 19%;
  top: 30%;
}

/* line 342, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .light-saber1 {
  position: absolute;
  display: block;
  width: 6%;
  top: 49%;
  left: 5%;
}

/* line 350, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .light-saber2 {
  position: absolute;
  display: block;
  width: 10%;
  top: 61%;
  left: 22%;
}

/* line 358, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .light-saber3 {
  position: absolute;
  display: block;
  width: 10%;
  top: 61%;
  left: 76%;
}

/* line 366, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .light-saber4 {
  position: absolute;
  display: block;
  width: 6%;
  top: 49%;
  left: 85%;
}

/* line 374, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .wind-turbine-1 {
  position: absolute;
  display: block;
  width: 7%;
  right: 71%;
  top: 29%;
  height: 100%;
}

/* line 383, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .wind-turbine-2 {
  position: absolute;
  display: block;
  width: 7%;
  right: 63%;
  top: 33%;
  height: 100%;
}

/* line 392, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .wind-turbine-3 {
  position: absolute;
  display: block;
  width: 7%;
  right: 46%;
  top: 30%;
  height: 100%;
}

/* line 401, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .busstop {
  position: absolute;
  display: block;
  width: 11%;
  top: 60%;
  right: 49%;
  width: 10%;
}

/* line 409, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year5 .busstop .busstop-legs {
  position: absolute;
  display: block;
  width: 61%;
  top: 69%;
  right: 29%;
}

/* line 419, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 {
  background-image: url("../img/year6/bg_jaar3_2.svg");
}

/* line 422, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .huis_links {
  position: absolute;
  display: block;
  width: 18%;
  right: 30%;
  top: 26.6%;
}

/* line 430, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .huis_rechts {
  position: absolute;
  display: block;
  width: 18%;
  right: 4%;
  top: 21%;
}

/* line 438, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .car {
  position: absolute;
  display: block;
  width: 35%;
  right: 62%;
  top: 62%;
}

/* line 446, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .zon {
  position: absolute;
  display: block;
  width: 13%;
  right: 80%;
  top: 18%;
}

/* line 454, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .fietser {
  position: absolute;
  display: block;
  width: 10%;
  right: 11%;
  top: 58%;
  -webkit-animation: biker_moves_right 11s infinite;
  animation: biker_moves_right 11s infinite;
}

/* line 466, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .fietser_2 {
  position: absolute;
  display: block;
  width: 10%;
  right: 5%;
  top: 63%;
  -webkit-animation: biker_moves_right 11s infinite;
  animation: biker_moves_right 11s infinite;
}

/* line 478, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_game.scss */
.year.year6 .skater {
  display: block;
  position: absolute;
  height: 30%;
  z-index: 2;
  left: 5%;
  right: 90%;
  top: 66%;
  -webkit-animation: skater_moves 2s infinite;
  animation: skater_moves 2s infinite;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../img/start-game-bg.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* line 13, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper {
  max-width: 50vw;
  padding: 6vmin 13.5vmin;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* line 28, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 12vmin;
  color: #333;
  display: block;
}

/* line 38, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper h1 small {
  font-size: 7.56vmin;
  color: #79B63E;
  display: block;
}

/* line 48, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper .description {
  display: block;
  margin: 30px auto 10px auto;
}

/* line 53, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper .icons {
  display: block;
  margin: 0px auto 2.5vmin;
  color: #333;
  min-height: 2.5vw;
}

/* line 61, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper .icons .aThird {
  opacity: 0.8;
}

/* line 65, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper .icons img {
  width: 1.25vw;
  height: auto;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 78, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper .icons span {
  height: 1vw;
  margin-top: 0.25vw;
  display: block;
}

/* line 85, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper p {
  padding: 10px 15px;
  text-align: left;
  color: #333;
  font-size: 22px;
}

/* line 94, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper .btn {
  margin: 0 1.5vw;
  font-family: roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #79B63E;
  border: none;
  border-radius: 0px;
  font-size: 36px;
  width: 35%;
  transition: all .2s ease;
}

/* line 113, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_startScreen.scss */
.start-game .content-wrapper .btn:hover {
  background-color: #6ca338;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_endScreen.scss */
.end-game {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../img/start-game-bg.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 11, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_endScreen.scss */
.end-game .content-wrapper {
  margin: 0 auto;
  margin-top: 20%;
  width: 50%;
  padding: 25px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.46);
  text-align: left;
}

/* line 20, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_endScreen.scss */
.end-game .content-wrapper h1 {
  margin: 0 0 25px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 57px;
  font-size: 5.7rem;
}

/* line 27, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_endScreen.scss */
.end-game .content-wrapper .btn {
  width: 25%;
}

/* line 30, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_endScreen.scss */
.end-game .content-wrapper input {
  color: #000000;
  margin-left: 5px;
  width: 100%;
}

@-webkit-keyframes skater_moves {
  0% {
    left: 5%;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 5%;
  }
  0% {
    -webkit-transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(1);
  }
  51% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
  }
}

@-webkit-keyframes wiek {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes wiek_l {
  0% {
    -webkit-transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(380deg);
  }
}

@-webkit-keyframes biker_moves {
  0% {
    left: 5%;
  }
  50% {
    left: 99%;
  }
  100% {
    left: 5%;
  }
  0% {
    -webkit-transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
  }
}

@-webkit-keyframes bus_moves {
  0% {
    left: 5%;
  }
  50% {
    left: 99%;
  }
  100% {
    left: 5%;
  }
  0% {
    -webkit-transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
  }
}

@-webkit-keyframes biker_moves_right {
  0% {
    right: -20%;
  }
  50% {
    right: 110%;
  }
  100% {
    right: -20%;
  }
  0% {
    -webkit-transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(-1);
  }
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.modal-content {
  border-radius: 0;
}

/* line 4, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.modal-content .modal-body {
  padding: 25px;
}

/* line 9, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.menu {
  color: #000;
}

/* line 13, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.mission {
  color: #000;
}

/* line 16, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.mission h2 {
  margin: 0;
}

/* line 20, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.mission .options {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}

/* line 25, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.mission .options li {
  padding-bottom: 15px;
}

/* line 31, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.mission .option .action-wrapper {
  text-align: center;
}

/* line 38, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.results {
  list-style-type: none;
  padding: 0;
}

/* line 42, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.results li {
  text-align: center;
}

/* line 44, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.results li ul {
  padding: 0;
}

/* line 46, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.results li ul li {
  display: inline-block;
  padding: 0 5px;
  line-height: 35px;
}

/* line 51, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.results li ul li img {
  height: 22px;
}

/* line 61, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.year-report {
  color: black;
}

/* line 64, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.year-report .report-policies {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 69, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.year-report .report-policies .policy {
  margin: 15px 10px;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
}

/* line 78, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.year-report .report-policies .policy .image-wrapper img {
  margin: 0 auto;
  max-height: 75px;
}

/* line 84, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.year-report .report-policies .policy .info {
  float: left;
}

/* line 87, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.year-report .report-policies .policy .info .name {
  font-size: 21px;
}

/* line 92, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_modals.scss */
.year-report .report-policies .policy .info .results li {
  text-align: left;
}

/* line 1, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character {
  height: 100%;
  width: 100%;
}

/* line 5, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .header {
  width: 100%;
  height: 10%;
  background-color: #007a51;
  overflow: hidden;
}

/* line 10, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .header h1 {
  margin: 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2vw;
  height: 40%;
  top: 30%;
  position: relative;
  padding-left: 8%;
  line-height: 100%;
  letter-spacing: 2px;
}

/* line 25, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-preview {
  width: 50%;
  float: left;
  height: 90%;
  background-color: white;
  background-image: url("../img/character_selection/bg_char_select.svg");
  background-size: cover;
}

/* line 33, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-preview .current-character {
  width: 22%;
  height: 80%;
  margin: 10% auto;
  display: block;
}

/* line 41, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param {
  width: 50%;
  float: left;
  height: 90%;
  background-color: #bbbdc0;
}

/* line 47, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param h2 {
  margin: 0;
  background-color: #8cc63e;
  font-size: 1.3vw;
  width: 100%;
  padding: 1.5% 2%;
  font-weight: bold;
  color: darkgreen;
  text-align: center;
  text-transform: uppercase;
}

/* line 59, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .selected {
  box-shadow: 0px 1px 3px rgba(21, 166, 251, 0.36) inset, 0px 0px 8px #00b8ff;
}

/* line 63, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .sex {
  background-color: #e5e5e4;
  height: 19%;
  width: 100%;
}

/* line 68, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .sex img {
  display: block;
  height: 60%;
  width: 20%;
  margin-top: 3%;
  float: left;
  position: relative;
}

/* line 77, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .sex .male {
  margin-left: 25%;
}

/* line 81, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .sex .female {
  margin-left: 5%;
}

/* line 86, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .skin {
  background-color: #e5e5e4;
  height: 19%;
  width: 100%;
}

/* line 91, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .skin .skin1 {
  margin-left: 33%;
  background-color: #ae7248;
  display: block;
  float: left;
  margin-top: 4.5%;
  width: 10%;
  height: 50%;
  border-radius: 50%;
}

/* line 101, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .skin .skin2 {
  margin-left: 12%;
  background-color: #fbbe8e;
  display: block;
  float: left;
  margin-top: 4.5%;
  width: 10%;
  height: 50%;
  border-radius: 50%;
}

/* line 112, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .age {
  background-color: #e5e5e4;
  height: 24%;
}

/* line 116, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .age img {
  display: block;
  float: left;
  width: 7%;
  margin-top: 3%;
}

/* line 123, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .age .age_1 {
  margin-left: 27%;
}

/* line 127, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .age .age_2 {
  margin-left: 10%;
}

/* line 131, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .age .age_3 {
  margin-left: 10%;
}

/* line 136, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .character-bottom {
  height: 20%;
  background-color: #bbbdc0;
}

/* line 140, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .character-bottom a {
  display: block;
  width: 30%;
  float: left;
  font-weight: bold;
  text-align: center;
  font-size: 1.8vw;
  padding: 3% 0;
  text-decoration: none;
  color: white;
}

/* line 154, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .character-bottom .char-back {
  margin: 5% 13.33%;
  background-color: #8C8C8C;
}

/* line 159, C:/Users/jaspd/projects/designo/klimaatneutraal/source/scss/components/_character.scss */
.character .character-param .character-bottom .char-continue {
  margin-top: 5%;
  background-color: #007a51;
}
