<!-- HEADER -->
<section class="game-header">
	<div class="money col-xs-3 col-md-3">
		<ul>
			<li>
				<img class="ui_money_1" src="img/ui/money.svg" alt="" 		ng-if="game.score.money >= 10">
				<img class="ui_money_1" src="img/ui/money_no.svg" alt="" 	ng-if="game.score.money < 10">
			</li>
			<li>
				<img class="ui_money_2" src="img/ui/money.svg" alt=""		ng-if="game.score.money >= 40">
				<img class="ui_money_2" src="img/ui/money_no.svg" alt=""	ng-if="game.score.money < 40">
			</li>
			<li>
				<img class="ui_money_3" src="img/ui/money.svg" alt="" 		ng-if="game.score.money >= 60">
				<img class="ui_money_3" src="img/ui/money_no.svg" alt="" 	ng-if="game.score.money < 60">
			</li>
			<li>
				<img class="ui_money_4" src="img/ui/money.svg" alt="" 		ng-if="game.score.money >= 80">
				<img class="ui_money_4" src="img/ui/money_no.svg" alt="" 	ng-if="game.score.money < 80">
			</li>
			<li>
				<img class="ui_money_5" src="img/ui/money.svg" alt="" 		ng-if="game.score.money >= 90">
				<img class="ui_money_5" src="img/ui/money_no.svg" alt="" 	ng-if="game.score.money < 90">
			</li>
		</ul>
	</div>
	<div class="score col-xs-7 col-md-8">
		
		<div class="score-eco score-wrapper">
			<div class="icon-wrapper">
				<img class="icon" src="img/ui/leaf.svg" alt="">
			</div>
			<div class="score-bar">
				<div class="score-inner" ng-style="{width: game.score.eco + '%'}"></div>
			</div>
		</div>
		<div class="score-public score-wrapper">
			<div class="icon-wrapper">
				<img class="icon" src="img/ui/public.svg" alt="">
			</div>
			<div class="score-bar">
				<div class="score-inner" ng-style="{width: game.score.public + '%'}"></div>
			</div>
		</div>
		
	</div>
	<div class="menu-wrapper col-xs-2 col-md-1">
		<div ng-click="openMenu()" class="clickable menu text-hide">Menu</div>
	</div>
</section>

<!-- CONTENT -->
<div class="content">
	<!-- MAGIC -->
	<ui-view></ui-view>

	<ul class="year-policies">
		<li class="year" ng-repeat="(key, years) in activePolicies" ng-if="(key | num) < (year | num)">
			<ul class="clearfix">
				<li class="policy index" ng-click="goBack()">
					{{key}}
				</li>
				<li class="policy" ng-repeat="policy in years">
					<img ng-src="img/icons/{{policy.image}}" alt="{{policy.title}}">
				</li>
			</ul>
		</li>
	</ul>

	<ul class="active-policies">
		<li class="policy" ng-click="removePolicy(1)">
			<img ng-src="img/icons/{{activePolicies[year][1].image}}" alt="{{activePolicies[year][1].title}}" ng-if="activePolicies[year][1]">
			<div class="delete-icon" ng-if="activePolicies[year][1]"><i class="glyphicon glyphicon-remove"></i></div>
		</li>
		<li class="policy" ng-click="removePolicy(0)">
			<img ng-src="img/icons/{{activePolicies[year][0].image}}" alt="{{activePolicies[year][0].title}}" ng-if="activePolicies[year][0]">
			<div class="delete-icon" ng-if="activePolicies[year][0]"><i class="glyphicon glyphicon-remove"></i></div>
		</li>
		<li class="next" ng-click="showReport()" ng-show="activePolicies[year].length === 2">
			<span class="glyphicon glyphicon-chevron-right"></span> 
		</li>
	</ul>
</div>