<!-- YEAR 1 -->
<section class="year year1" ng-if="year == 1">
	
	<!-- ACTIONS -->
	<div ng-click="openComponent('house')" id="huis_links_wb" class="clickable interact" ><img src="img/jaar1_1/huis_links_wb.svg" alt=""></div>
	<div ng-click="openComponent('busstop')" id="buskotje" class="clickable"><img src="img/jaar1_1/buskotje_zonder_benen.svg" alt=""></div>

	<!-- DECORATION -->
	<img id="skater" src="img/jaar1_1/skater.svg" alt="">
	<img id="benen" src="img/jaar1_1/legs.gif" alt=""></a>
	<img id="molenpaal" src="img/jaar1_1/molenpaal.svg" alt="">
	<img id="wiek" src="img/jaar1_1/wiek.svg" alt="">
	<img id="molenpaal_l" src="img/jaar1_1/molenpaal_l.svg" alt="">
	<img id="wiek_l" src="img/jaar1_1/wiek_l.svg" alt="">
	<img class="house2" src="img/jaar1_1/huis_rechts.svg" alt="">
	
</section>

<!-- YEAR 2 -->
<section class="year year2" ng-if="year == 2">
	
	<!-- ACTIONS -->
	<div ng-click="openComponent('house')" id="huis_links_wb" class="clickable interact" ><img src="img/year2/house.svg" alt=""></div>

	<!-- DECORATION -->
	<img class="biker" src="img/year2/biker.gif" alt="">
	<img class="house2" src="img/year2/house2.svg" alt="">
	<img class="cars" src="img/year2/car.svg" alt="">
	<div class="wind-turbine">
		<img class="wind-turbine-bottom" src="img/jaar1_1/molenpaal.svg" alt="">
		<img class="wind-turbine-top" src="img/jaar1_1/wiek.svg" alt="">
	</div>
	
</section>

<!-- YEAR 3 -->
<section class="year year3" ng-if="year == 3">
	
	<!-- ACTIONS -->
	<!-- <div ng-click="openComponent('house')" class="house1 clickable interact" ><img src="img/jaar1_1/huis_links_wb.svg" alt=""></div> -->

	<!-- DECORATION -->
	<img class="biker" src="img/year3/biker.svg" alt="">
	<img class="house" src="img/year3/big-house.svg" alt="">
	<img class="light-saber" src="img/year3/lightsaber.svg" alt="">

	
</section>


<!-- YEAR 4 -->
<section class="year year4" ng-if="year == 4">
	
	<!-- ACTIONS -->
	<!-- <div ng-click="openComponent('house')" id="huis_links_wb" class="clickable interact" ><img src="img/jaar1_1/huis_links_wb.svg" alt=""></div> -->

	<!-- DECORATION -->
	<img class="bus" src="img/year4/bus.svg" alt="">
	
	<div class="wind-turbine-1">
		<img class="wind-turbine-bottom" src="img/jaar1_1/molenpaal.svg" alt="">
		<img class="wind-turbine-top" src="img/jaar1_1/wiek.svg" alt="">
	</div>
	<div class="wind-turbine-2">
		<img class="wind-turbine-bottom" src="img/jaar1_1/molenpaal.svg" alt="">
		<img class="wind-turbine-top" src="img/jaar1_1/wiek.svg" alt="">
	</div>
	<div class="wind-turbine-3">
		<img class="wind-turbine-bottom" src="img/jaar1_1/molenpaal.svg" alt="">
		<img class="wind-turbine-top" src="img/jaar1_1/wiek.svg" alt="">
	</div>
	<img class="house" src="img/year4/house.svg" alt="">
	
</section>



<!-- YEAR 5 -->
<section class="year year5" ng-if="year == 5">
	
	<!-- ACTIONS -->
	<!-- <div ng-click="openComponent('house')" id="huis_links_wb" class="clickable interact" ><img src="img/jaar1_1/huis_links_wb.svg" alt=""></div> -->

	<!-- DECORATION -->
	<img class="woman" src="img/year5/woman.svg" alt="">
	<img class="house" src="img/year5/house.svg" alt="">

	<img class="light-saber1" src="img/year5/lightsaber.svg" alt="">
	<img class="light-saber2" src="img/year5/lightsaber.svg" alt="">
	<img class="light-saber3" src="img/year5/lightsaber.svg" alt="">
	<img class="light-saber4" src="img/year5/lightsaber.svg" alt="">
	<div class="busstop">
		<img class="busstop-building" src="img/jaar1_1/buskotje_zonder_benen.svg" alt="">
		<img class="busstop-legs" src="img/jaar1_1/legs.gif" alt="">
	</div>
</section>



<!-- YEAR 6 -->
<section class="year year1" ng-if="year == 6">
	
	<!-- ACTIONS -->
	<div ng-click="openComponent('house')" id="huis_links_wb" class="clickable interact" ><img src="img/jaar1_1/huis_links_wb.svg" alt=""></div>

	<!-- DECORATION -->
	<img id="skater" src="img/jaar1_1/skater.svg" alt="">
	<img id="huis_rechts" src="img/jaar1_1/huis_rechts.svg" alt="">
	
</section>

