<section class="year year1">
	<div ng-click="openComponent('house')" id="huis_links_wb" class="interact" ><img src="img/jaar1_1/huis_links_wb.svg" alt=""></div>

	<img id="skater" src="img/jaar1_1/skater.svg" alt="">

	<a id="buskotje" href="#"><img src="img/jaar1_1/buskotje_zonder_benen.svg" alt=""></a>

	<img id="benen" src="img/jaar1_1/legs.gif" alt=""></a>

	<img ng-click="openComponent('windTurbine')" id="molenpaal" src="img/jaar1_1/molenpaal.svg" alt="">
	<img id="wiek" src="img/jaar1_1/wiek.svg" alt="">

	<img id="molenpaal_l" src="img/jaar1_1/molenpaal_l.svg" alt="">
	<img id="wiek_l" src="img/jaar1_1/wiek_l.svg" alt="">

	<img id="huis_rechts" src="img/jaar1_1/huis_rechts.svg" alt="">
	
</section>
