{{time}}

<!-- YEAR 0 === TUTORIAL -->
<section class="year year1" ng-if="tutorial" ng-controller="tutorialController">
	
	<!-- ACTIONS -->
	<div ng-click="openCategory('warmtebehoud')" class="huis_links_wb clickable"><img src="img/jaar1_1/huis_links_wb.svg" alt=""></div>
	<div ng-click="openCategory('mobiliteit')" class="buskotje clickable"><img src="img/jaar1_1/buskotje_zonder_benen.svg" alt=""></div>

	<!-- DECORATION -->
	<img class="skater" src="img/jaar1_1/skater.svg" alt="">
	<img class="benen" src="img/jaar1_1/legs.gif" alt=""></a>
	<img class="molenpaal" src="img/jaar1_1/molenpaal.svg" alt="">
	<img class="wiek" src="img/jaar1_1/wiek.svg" alt="">
	<img class="molenpaal_l" src="img/jaar1_1/molenpaal_l.svg" alt="">
	<img class="wiek_l" src="img/jaar1_1/wiek_l.svg" alt="">
	<img class="house2" src="img/jaar1_1/huis_rechts.svg" alt="">

</section>

<!-- YEAR 1 -->
<section class="year year1" ng-if="renderScreen == 1 && !tutorial">
	
	<!-- ACTIONS -->
	<div ng-click="openCategory('warmtebehoud')" class="huis_links_wb clickable interact" ><img src="img/jaar1_1/huis_links_wb.svg" alt=""></div>
	<div ng-click="openCategory('mobiliteit')" class="buskotje clickable"><img src="img/jaar1_1/buskotje_zonder_benen.svg" alt=""></div>

	<!-- DECORATION -->
	<img class="skater" src="img/jaar1_1/skater.svg" alt="">
	<img class="benen" src="img/jaar1_1/legs.gif" alt=""></a>
	<img class="molenpaal" src="img/jaar1_1/molenpaal.svg" alt="">
	<img class="wiek" src="img/jaar1_1/wiek.svg" alt="">
	<img class="molenpaal_l" src="img/jaar1_1/molenpaal_l.svg" alt="">
	<img class="wiek_l" src="img/jaar1_1/wiek_l.svg" alt="">
	<img class="house2" src="img/jaar1_1/huis_rechts.svg" alt="">

</section>

<!-- YEAR 2 -->
<section class="year year2" ng-if="renderScreen == 2 && !tutorial">
	
	<!-- ACTIONS -->
	<div ng-click="openCategory('warmtebehoud')" class="huis_links_wb clickable interact"><img src="img/year2/house.svg" alt=""></div>
	<div ng-click="openCategory('mobiliteit')" class="clickable cars"><img src="img/year2/car.svg" alt=""></div> 

	<!-- DECORATION -->
	<img class="biker" src="img/year2/biker.gif" alt="">
	<img class="house2" src="img/year2/house2.svg" alt="">
	
	<div class="wind-turbine">
		<img class="wind-turbine-bottom" src="img/jaar1_1/molenpaal.svg" alt="">
		<img class="wind-turbine-top" src="img/jaar1_1/wiek.svg" alt="">
	</div>
	
</section>

<!-- YEAR 3 -->
<section class="year year3" ng-if="renderScreen == 3 && !tutorial">
	
	<!-- ACTIONS -->
	<div ng-click="openCategory('warmtebehoud')" class="house clickable" ><img src="img/year3/big-house.svg" alt=""></div>
	<div ng-click="openCategory('mobiliteit')" class="doublecars clickable"><img src="img/year3/cars.svg" alt=""></div>

	<!-- DECORATION -->
	<img class="biker" src="img/year3/biker.gif" alt="">
	<img class="light-saber" src="img/year3/lightsaber.svg" alt="">

	
</section>


<!-- YEAR 4 -->
<section class="year year4" ng-if="renderScreen == 4 && !tutorial">
	
	<!-- ACTIONS -->
	<div class="house clickable" ng-click="openCategory('warmtebehoud')"><img  src="img/year4/house.svg" alt=""></div>
	<div ng-click="openCategory('mobiliteit')" class="clickable move-bus">
		<img class="bus" src="img/year4/bus.svg" alt="">
	</div>

	<!-- DECORATION -->
	<div class="wind-turbine-1">
		<img class="wind-turbine-bottom" src="img/jaar1_1/molenpaal.svg" alt="">
		<img class="wind-turbine-top" src="img/jaar1_1/wiek.svg" alt="">
	</div>
	<div class="wind-turbine-2">
		<img class="wind-turbine-bottom" src="img/jaar1_1/molenpaal.svg" alt="">
		<img class="wind-turbine-top" src="img/jaar1_1/wiek.svg" alt="">
	</div>
	<div class="wind-turbine-3">
		<img class="wind-turbine-bottom" src="img/jaar1_1/molenpaal.svg" alt="">
		<img class="wind-turbine-top" src="img/jaar1_1/wiek.svg" alt="">
	</div>
	
	
</section>



<!-- YEAR 5 -->
<section class="year year5" ng-if="renderScreen == 5 && !tutorial">
	
	<!-- ACTIONS -->
	<div ng-click="openCategory('warmtebehoud')" class="house clickable"><img src="img/year5/house.svg" alt=""></div>
	<div class="busstop"> <!-- ng-click="openCategory('mobiliteit')" class="clickable" || alles voor de pipelines op de correct plaats terug bij in de div steken om terug interactable te maken -->
		<img class="busstop-building" src="img/jaar1_1/buskotje_zonder_benen.svg" alt="">
		<img class="busstop-legs" src="img/jaar1_1/legs.gif" alt="">
	</div>
	<div ng-click="openCategory('energie')" class="light-saber2 clickable"><img src="img/year5/lightsaber.svg" alt=""></div>

	<!-- DECORATION -->
	<img class="woman" src="img/year5/woman.gif" alt="">
	
	<img class="light-saber1" src="img/year5/lightsaber.svg" alt="">
	<img class="light-saber3" src="img/year5/lightsaber.svg" alt="">
	<img class="light-saber4" src="img/year5/lightsaber.svg" alt="">
	
</section>



<!-- YEAR 6 -->
<section class="year year6" ng-if="renderScreen == 6 && !tutorial">
	
	<!-- ACTIONS -->
	<div ng-click="openCategory('mobiliteit')" class="car clickable"><img src="img/year6/autos.svg" alt=""></div>
	<div ng-click="openCategory('warmtebehoud')" class="huis_links clickable"><img src="img/year6/huis_1.svg" alt=""></div>

	<!-- DECORATION -->
	<img class="skater" src="img/year6/skater.svg" alt="">
	<img class="zon" src="img/year6/zon.svg" alt="">
	<img class="huis_rechts" src="img/year6/huis_2.svg" alt="">
	<img class="fietser" src="img/year6/fietser.gif" alt="">
	
</section>

<div class="action-animation" ng-class="actionAnimation">
	<img class="img-dak-isolatie" src="img/action_animations/dakisolatie_3x_39000ms.gif" alt="">
	<img class="img-subsiedieGroendaken" src="img/action_animations/groendaken_1x_3000ms.gif" alt="">
	<img class="img-subsiedieWarmtepomp" src="img/action_animations/warmtepompen_1x_3000ms.gif" alt="">
	<img class="img-parkeerBeleid" src="img/action_animations/parkeerbeleid_aanpassen_1x_2500ms.gif" alt="">
	<img class="img-verbeteringFietsinfrastructuur" src="img/action_animations/betere_fietsinfrastructuur_1x_3300ms.gif" alt="">
	<img class="img-autovrijeZondag" src="img/action_animations/autovrije_zondag_1x_3000ms.gif" alt="">
	<img class="img-fietsatelier" src="img/action_animations/fietsatelier_1x_2500ms.gif" alt="">
	
	<img class="img-fiets-bewaking" src="img/action_animations/bewaking_fietsenstalling_uitbreiden_1x_2500ms.gif" alt="">
	<img class="img-bikeToWork" src="img/action_animations/bike_to_work_dag_1x_2500ms.gif" alt="">
	<img class="img-hybrideBussystemen" src="img/action_animations/hybride_bussystemen_1x_2500ms.gif" alt="">
	<img class="img-fietsVergoeding" src="img/action_animations/bike_to_work_dag_1x_2500ms.gif" alt="">
	<img class="img-openbaarVervoerVergoeding" src="img/action_animations/terugbetaling_openbaar_vervoer_1x_3000ms.gif" alt="">
	<img class="img-autovrijeBinnenstad" src="img/action_animations/autovrije_binnestad_1x_2500ms.gif" alt="">
	<img class="img-thermografischeKaart" src="img/action_animations/thermografische_kaart_1x_2500ms.gif" alt="">
	<img class="img-duurzameMaterialen" src="img/action_animations/duurzame_materialen_gebruiken_1_2500ms.gif" alt="">
	<img class="img-passiefBouw" src="img/action_animations/passiefbouw_1x_2500ms.gif" alt="">
	<img class="img-energiescan" src="img/action_animations/info_electriciteit_energie_scan_1x_2500ms.gif" alt="">
	
</div>
