.year-policies {
	margin: 0;
	padding: 0;

	list-style-type: none;

	position: absolute;
	bottom:25px;
	left: 25px;
	z-index: 10;
	
	.year {

		ul {
			padding: 0;
		}

		.policy {
			position: relative;
			margin-right: 10px;
			margin-top: 10px;
			float: left;
			width: 50px;
			height: 50px;

			&.index {
				line-height: 50px;
			    text-align: center;
			    font-size: 38px;
			}

			&.next {
				line-height: 100px;
				font-size: 40px;
				text-align: center;
			}

			&.policy {
				border-radius: 50%;
				background-color: rgba(0, 0, 0, 0.50);;
				overflow: hidden;

				img {
					max-width: 100%;
				}
			}
		}
	}
}

.active-policies {
	margin: 0;
	padding: 0;

	list-style-type: none;

	position: absolute;
	bottom:25px;
	right: 25px;
	
	li {
		position: relative;
		margin-left: 25px;
		float: left;
		width: 100px;
		height: 100px;

		&.next {
			line-height: 100px;
    		font-size: 40px;
    		text-align: center;
		}

		&.policy {
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 0.50);;
			overflow: hidden;

			img {
				max-width: 100%;
			}
		}
	}

	.delete-icon {
        color: #E6E7E8;
	    font-size: 14px;
	    position: absolute;
	    top: 0;
	    right: 0;
        z-index: 5;
	}
}

.year {
	height: 100%;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;

	.wind-turbine-bottom {
			position: absolute;
			display: block;
			top: 6%;
			right: 9%;
		}

		.wind-turbine-top {
			position: absolute;
			display: block;
			-webkit-animation: wiek 10s linear infinite ;
				-moz-animation:    wiek 10s linear infinite ;
				-o-animation:      wiek 10s linear infinite ;
				animation:         wiek 10s linear infinite ;
		}
		.huis_rechts{
			position: absolute;display: block;
			width: 30%;right: 1%;top: 31%;
		}

		.huis_links_wb{
			display: block; position: absolute;
			top: 38%;
			width: 25%;

		}
		
		.wiek_l{
			position: absolute;display: block;
			width: 8%;left:58%;top:20.2%;
			-webkit-animation: wiek_l 10s linear infinite ;
				-moz-animation:    wiek_l 10s linear infinite ;
				-o-animation:      wiek_l 10s linear infinite ;
				animation:         wiek_l 10s linear infinite ;
		}


	&.year1 {
		background-image: url('../img/jaar1_1/bg_jaar1_1.svg');

		.house2 {
			position: absolute;
		    display: block;
		    width: 24%;
		    right: 1%;
		    top: 25%;
		}
		.huis_links_wb{
			display: block; 
			position: absolute;
			top: 38%;
			width: 25%;
		}

		.buskotje{
			position: absolute;
			display: block;
			width: 12%;
			top: 55%;
			left: 40%;
		}

		.buskotje:before{
			position: absolute;
			display: block;
			width: 12%;
			top: 55%;
			left: 40%;
		}

		.interact:hover, .molenpaal:hover {
			opacity: 0.8;
		}

		.skater{
			display: block;
			position: absolute;
			height: 30%;
			z-index: 2;
			left: 5%;
			right: 90%;
			top: 66%;
			-webkit-animation: skater_moves 2s infinite ;
				-moz-animation:    skater_moves 2s infinite ;
				-o-animation:      skater_moves 2s infinite ;
				animation:         skater_moves 2s infinite ;
		}

		.benen{
			position: absolute; display: block;
			width: 7%;
			left: 41%;
			top: 72%;
		}

		.molenpaal{
			position: absolute;display: block;
			width: 10%;left:50%;top:30%;
		}

		.molenpaal_l{
			z-index: 1;
			position: absolute;display: block;
			width: 8%;left:57.3%;top:30%;
		}

		.wiek{
			position: absolute;display: block;
			width: 10%;left:50.8%;top:20.2%;
			-webkit-animation: wiek 10s linear infinite ;
			-moz-animation:    wiek 10s linear infinite ;
			-o-animation:      wiek 10s linear infinite ;
			animation:         wiek 10s linear infinite ;
		}

		.interact:hover, .molenpaal:hover {
			opacity: 0.8;
		}


	}

	&.year2 {
		background-image: url('../img/year2/bg.svg');

		.biker {
			 display: block;
			position: absolute;
			height: 20%;
			z-index: 2;
			left: 5%;
			right: 90%;
			top: 75%;
			-webkit-animation: biker_moves 5s infinite ;
			   -moz-animation: biker_moves 5s infinite ;
		         -o-animation: biker_moves 5s infinite ;
		            animation: biker_moves 5s infinite ;
		}

		.house1 {
			display: block;
			position: absolute;
			top: 38%;
			width: 25%;
		}

		.house2 {
			position: absolute;
			display: block;
			width: 40%;
			right: 27%;
			top: 31%;
		}

		.cars {
			position: absolute;
			display: block;
			width: 16%;
			right: 7%;
			top: 61%;
		}

		.wind-turbine {
			position: absolute;
			display: block;
			width: 7%;
			right: 13%;
			top: 30%;
			height: 100%;
		}
	}

	&.year3 {
		background-image: url('../img/year3/bg.svg');

		.biker {
			display: block;
			position: absolute;
			height: 20%;
			z-index: 2;
			right: -50%;
			top: 75%;
			-webkit-animation: biker_moves_right 15s infinite ;
			   -moz-animation: biker_moves_right 15s infinite ;
		         -o-animation: biker_moves_right 15s infinite ;
		            animation: biker_moves_right 15s infinite ;
		}

		.house {
			display: block;
			position: absolute;
			top: 23%;
			width: 54%;
			right: 11%;	
		}

		.doublecars {
			display: block;
			position: absolute;
		    top: 68%;
		    width: 16%;
		    left: 11%;;	
		}

		.light-saber {
			position: absolute;
			display: block;
			width: 98%;
			top: 61%;
			left: 2%;
		}
	}

	&.year4 {
		background-image: url('../img/year4/bg.svg');

		.bus {
			display: block;
			position: absolute;
			height: 20%;
			z-index: 2;
			left: -5%;
			top: 78%;
			-webkit-animation: bus_moves 25s infinite ;
			   -moz-animation: bus_moves 25s infinite ;
		         -o-animation: bus_moves 25s infinite ;
		            animation: bus_moves 25s infinite ;
		}

		.house {
			display: block;
			position: absolute;
			top: 40%;
			width: 48%;
			right: 48%;
			z-index: 10;
		}

		.light-saber {
			position: absolute;
			display: block;
			width: 98%;
			top: 61%;
			left: 2%;
		}

		.wind-turbine-1 {
			position: absolute;
		    display: block;
		    width: 7%;
		    right: 71%;
		    top: 29%;
		    height: 100%;
		}

		.wind-turbine-2 {
			position: absolute;
		    display: block;
		    width: 7%;
		    right: 63%;
		    top: 33%;
		    height: 100%;
		}

		.wind-turbine-3 {
		    position: absolute;
		    display: block;
		    width: 7%;
		    right: 46%;
		    top: 30%;
		    height: 100%;
		}
	}

	&.year5 {
		background-image: url('../img/year5/bg.svg');

		.woman {
			display: block;
		    position: absolute;
		    height: 32%;
		    z-index: 2;
		    left: 9%;
		    top: 60%;

		    -webkit-animation: skater_moves 2s infinite ;
			   -moz-animation: skater_moves 2s infinite ;
		         -o-animation: skater_moves 2s infinite ;
		            animation: skater_moves 2s infinite ;
		}

		.house {
			position: absolute;
		    display: block;
		    width: 38%;
		    right: 19%;
		    top: 30%;
		}

		.light-saber1 {
			position: absolute;
		    display: block;
		    width: 6%;
		    top: 49%;
		    left: 5%;
		}

		.light-saber2 {
			position: absolute;
		    display: block;
		    width: 10%;
		    top: 61%;
		    left: 22%;
		}

		.light-saber3 {
			position: absolute;
		    display: block;
		    width: 10%;
		    top: 61%;
		    left: 76%;
		}

		.light-saber4 {
			position: absolute;
		    display: block;
		    width: 6%;
		    top: 49%;
		    left: 85%;
		}

		.wind-turbine-1 {
			position: absolute;
		    display: block;
		    width: 7%;
		    right: 71%;
		    top: 29%;
		    height: 100%;
		}

		.wind-turbine-2 {
			position: absolute;
		    display: block;
		    width: 7%;
		    right: 63%;
		    top: 33%;
		    height: 100%;
		}

		.wind-turbine-3 {
		    position: absolute;
		    display: block;
		    width: 7%;
		    right: 46%;
		    top: 30%;
		    height: 100%;
		}

		.busstop {
			position: absolute;
		    display: block;
		    width: 11%;
		    top: 60%;
		    right: 49%;
			width: 10%;

			.busstop-legs {
				position: absolute;
			    display: block;
			    width: 61%;
			    top: 69%;
			    right: 29%;
			}
		}
	}

	&.year6 {
		background-image: url('../img/year6/bg_jaar3_2.svg');

		.huis_links {
			position: absolute;
		    display: block;
		    width: 18%;
		    right: 30%;
		    top: 26.6%;
		}

		.huis_rechts {
			position: absolute;
		    display: block;
		    width: 18%;
		    right: 4%;
		    top: 21%;
		}

		.car {
			position: absolute;
		    display: block;
		    width: 35%;
		    right: 62%;
		    top: 62%;
		}

		.zon {
			position: absolute;
		    display: block;
		    width: 13%;
		    right: 80%;
		    top: 18%;
		}

		.fietser {
			position: absolute;
		    display: block;
		    width: 10%;
		    right: 11%;
		    top: 58%;
		    -webkit-animation: biker_moves_right 11s infinite ;
			   -moz-animation: biker_moves_right 11s infinite ;
		         -o-animation: biker_moves_right 11s infinite ;
		            animation: biker_moves_right 11s infinite ;
		}

		.fietser_2 {
			position: absolute;
		    display: block;
		    width: 10%;
		    right: 5%;
		    top: 63%;
		    -webkit-animation: biker_moves_right 11s infinite ;
			   -moz-animation: biker_moves_right 11s infinite ;
		         -o-animation: biker_moves_right 11s infinite ;
		            animation: biker_moves_right 11s infinite ;
		}

		.skater{
			display: block;
			position: absolute;
			height: 30%;
			z-index: 2;
			left: 5%;
			right: 90%;
			top: 66%;
			-webkit-animation: skater_moves 2s infinite ;
				-moz-animation:    skater_moves 2s infinite ;
				-o-animation:      skater_moves 2s infinite ;
				animation:         skater_moves 2s infinite ;
		}
		   



	}
}

.action-animation {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: white;
    top: 0;
    z-index: 2;
    display: none;
	
	img {
		display: none;
	}

	&.subsiedieIsolatie {
    	background-image: url('../img/action_animations/dakisolatie.jpg');
    	background-size: cover;
    	display: block;

    	.img-dak-isolatie {
		    position: absolute;
		    top: 28%;
    		left: 42%;
    		max-width: 15%;
    		display: block;
    	}

    }

    &.subsiedieGroendaken {
    	background-image: url('../img/action_animations/groendaken.jpg');
    	background-size: cover;
    	display: block;

    	.img-subsiedieGroendaken {
		    position: absolute;
		    top: 28%;
    		left: 42%;
    		max-width: 15%;
    		display: block;
    	}

    }

    &.auto-zondag {
    	background-image: url('../img/action_animations/autovrije_zondag.jpg');
    	background-size: cover;
    	display: block;

    	.img-auto-zondag {
    		position: absolute;
    		bottom: 25px;
    		display: block;
    	}

    }

    &.fiets-infrastructuur {
    	background-image: url('../img/action_animations/betere_fietsinfrastructuur.jpg');
    	background-size: cover;
    	display: block;

    	.img-fiets-infrastructuur {
    		position: absolute;
    		bottom: 0px;
    		width: 100%;
    		display: block;
    	}

    }

    &.fiets-bewaking {
    	background-image: url('../img/action_animations/bewaking_fietsenstalling_uitbreiden.jpg');
    	background-size: cover;
    	display: block;

    	.img-fiets-bewaking {
		    position: absolute;
		    top: 117px;
		    max-width: 30%;
		    display: block;
    	}

    }
}