.year {
	height: 100%;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;

	&.year1 {
		background-image: url('../img/jaar1_1/bg_jaar1_1.svg');
	}

	&.year2 {
		background-image: url('../img/year2/bg.svg');

		.biker {
			 display: block;
			position: absolute;
			height: 20%;
			z-index: 2;
			left: 5%;
			right: 90%;
			top: 75%;
		}

		.house1 {
			display: block;
			position: absolute;
			top: 38%;
			width: 25%;
		}

		.house2 {
			position: absolute;
			display: block;
			width: 40%;
			right: 27%;
			top: 31%;
		}

		.cars {
			position: absolute;
			display: block;
			width: 16%;
			right: 7%;
			top: 61%;
		}

		.wind-turbine {
			position: absolute;
			display: block;
			width: 7%;
			right: 13%;
			top: 30%;
			height: 100%;


			.wind-turbine-bottom {
				position: absolute;
				display: block;
				top: 6%;
				right: 9%;
			}

			.wind-turbine-top {
				position: absolute;
				display: block;
				-webkit-animation: wiek 10s linear infinite ;
					-moz-animation:    wiek 10s linear infinite ;
					-o-animation:      wiek 10s linear infinite ;
					animation:         wiek 10s linear infinite ;
			}
		}
	}

	&.year3 {
		background-image: url('../img/year3/bg.svg');

		.biker {
			display: block;
			position: absolute;
			height: 20%;
			z-index: 2;
			right: 6%;
			top: 75%;
		}

		.house {
			display: block;
			position: absolute;
			top: 23%;
			width: 54%;
			right: 11%;	
		}

		.light-saber {
			position: absolute;
			display: block;
			width: 98%;
			top: 61%;
			left: 2%;
		}
	}
    
    &.year6 {
		background-image: url('../img/jaar3_2/bg_jaar3_2.svg');
	}
}