.modal-content {
	border-radius: 0;

	.modal-body{
		padding: 25px;
	}
}

.menu {
	color: #000;
}

.mission {
	color: #000;

	h2 {
		margin: 0;
	}

	.options {
		list-style-type: none;
		padding: 0;
		margin: 5px 0;

		li {
			padding-bottom: 15px;
		}
	}

	.option {
		ul {
			list-style-type: none;
			padding: 0;

			li {
				text-align: center;
				ul {
					li {
						display: inline-block;
						padding: 0 5px;
						line-height: 35px;

						img {
							height: 22px;
						}
					}
				}
			}
		}

		.action-wrapper {
			text-align: center;
		}
	}
}