<section class="character">
	<div class="header">
		<h1>Ontwerp jouw karakter</h1>
	</div>

	<div class="character-preview">
		<img class="current-character" ng-src="img/characters/{{image}}" alt="">
	</div>

	<div class="character-param">
		<h2>Geslacht</h2>

		<div class="sex">
			<img ng-click="changeSex('2')" src="img/character_selection/male.svg" alt="" class="male" ng-class="character.sex === '2' ? 'selected' : ''">
			<img ng-click="changeSex('1')" src="img/character_selection/female.svg" alt="" class="female"  ng-class="character.sex === '1' ? 'selected' : ''">
		</div>

		<h2>Leeftijdsgroep</h2>
		<div class="age">
			<img ng-click="changeAge('1')" src="img/character_selection/1.svg" alt="" class="age_1" ng-class="character.age === '1' ? 'selected' : ''">
			<img ng-click="changeAge('2')" src="img/character_selection/2.svg" alt="" class="age_2" ng-class="character.age === '2' ? 'selected' : ''">
			<img ng-click="changeAge('3')" src="img/character_selection/3.svg" alt="" class="age_3" ng-class="character.age === '3' ? 'selected' : ''">
			
		</div>

		<h2>Tint</h2>
		<div class="skin">
			<div ng-click="changeSkin('1')" class="skin1" ng-class="character.skin === '1' ? 'selected' : ''"></div>
			<div ng-click="changeSkin('2')" class="skin2" ng-class="character.skin === '2' ? 'selected' : ''"></div>
		</div>	
		
		<div class="character-bottom">
			<div class="actions text-center">
				<a href ng-click="playConfirmSound(); sendCharacter()" ui-sref="game.year({year:0})" type="button" class="btn btn-primary">Start</a>
				<a href ng-click="playConfirmSound();  sendCharacter()" ui-sref="game.year({year:1})" type="button" class="btn btn-link">Snelstart</a>
			</div>
		</div>
	</div>

</section>

