<section class="start-game">
    <div class="mevrouw_l"></div>
    <div class="mevrouw_r"></div>

	<div class="content-wrapper">
		<img src="img/start/logo.png" class="img-responsive"/>
        <div class="description">
            <p>Speel de burgemeester van Mechelen en maak Mechelen Klimaatneutraal.
</p>
<!--             <p>Let op want elke keuze heeft een gevolg voor de toekomst.</p> -->

			<p class="browser-info">Speelbaar op:</p>
		<div class="browsers">
	       <a href="https://www.google.nl/chrome/browser/desktop/" TARGET="_blank"><img src="img/start/chrome.jpg" class="img-chrome"></a>
	       <a href="https://www.mozilla.org/nl/firefox/new/" TARGET="_blank"><img src="img/start/ff.jpg" class="img-ff"></a>
	       <img src="img/start/safari.png" class="img-safari">
       </div>

        </div>
        <p class="download">Werkt het spel niet goed op jouw browser? Probeer het dan nu op een moderne browser als <a href="https://www.google.nl/chrome/browser/desktop/" TARGET="_blank">google chrome</a>.</p>
		<div class="actions">
            <a href ng-click="playConfirmSound()" ui-sref="character" type="button" class="btn btn-primary">Play</a>
		</div>
	</div>

</section>
