<section class="start-game">
    <div class="box" style="background-color:red;width:200px;height:200px;">
        
    </div>
    <div class="box" style="background-color:hotpink;width:200px;height:200px;">
        
    </div>
	
	<div class="content-wrapper">
		<h1>Mechelen<small>Klimaatneutraal</small></h1>
        <div class="description">
            <p>Speel drie jaar lang de burgemeester van Mechelen en maak Mechelen Klimaatneutraal!</p>
            <p>Let op want elke keuze heeft een gevolg voor de toekomst.</p>
        </div>
        <div class="icons clearfix">
            <div class="col-xs-4">
                <img src="img/ui/leaf.svg" alt="leaf">
                <span>Mileufactor</span>
            </div>
            <div class="col-xs-4">
                <img src="img/ui/money.svg" alt="money">
                <span>Budget</span>
            </div>
            <div class="col-xs-4">
                <img src="img/ui/public.svg" alt="public">
                <span>Publieke Opinie</span>
            </div>
        </div>
		<div class="actions">
            <a href ng-click="playConfirmSound()" ui-sref="character" type="button" class="btn btn-primary">Play</a>
		</div>
	</div>
	
</section>