<section class="start-game">
    <div class="mevrouw_l"></div>
    <div class="mevrouw_r"></div>
        
    </div>
	
	<div class="content-wrapper">
		<img src="img/start/logo.png" class="img-responsive"/>
        <div class="description">
            <p>Speel drie jaar lang de burgemeester van Mechelen en maak Mechelen Klimaatneutraal!</p>
<!--             <p>Let op want elke keuze heeft een gevolg voor de toekomst.</p> -->
        </div>
		<div class="actions">
            <a href ng-click="playConfirmSound()" ui-sref="character" type="button" class="btn btn-primary">Play</a>
		</div>
	</div>
	
</section>